* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
}

/* Navigation for styles:
    -main
        -header
    -situation
    -cards
    -icons
    -map
    -contact
    -footer
*/

/* main */

/* burger */

/* lettttts */
.burger {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}

.burger span {
    display: block;
    width: 45px;
    height: 5px;
    border-radius: 5px;
    background: #007BE6;
    transition: 0.6s;
}

.clicked span {
    background: #000;
}

.clicked {
    z-index: 10000;
}

.first {
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);

}

.third {
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);

}

.second {
    margin: 10px 0;
}

.clicked .second{
    display: none;
}

.clicked .first {
    transform: rotate(45deg) translateY(3px);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
}

.clicked .third {
    transform: rotate(-45deg) translateY(-3px);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active {
    padding: 20px 0;
    display: flex !important;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    justify-content: center !important;
    /* flex-direction: column; */
    left: 0;
    right: 0;
    z-index: 100;
}

.active a {
    color: #000;
}

.active nav {
    margin: 25px 0;
}

.active .burger {
    position: absolute;
    top: 30px;
    left: 15px;
}


.header__active {
    display: block !important;
}

.main {
    z-index: -1;
    height: 100vh;
    background-blend-mode: multiply;
    background:  url("../assets/images/Main/helloquence-OQMZwNd3ThU-unsplash\ 1.jpg"), rgba(15, 76, 129, .3) 100% 100%  no-repeat;
    background-size: cover;
    padding: 25px 0;
    box-sizing: border-box;
}

.main__container {
    height: 100%;
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list__item {
    list-style-type: none;
    display: inline-block;
}

.list__item:nth-child(2) {
    margin: 0 63px;
}

.list__link, .header__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-decoration: none;
}

.main__item_title {
    font-weight: 700;
    font-size: 68px;
    line-height: 93px;
    color: #FFFFFF;
}

.main__item_text {
    max-width: 550px;
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    color: #FFFFFF;
    margin: 24px 0 63px;
}

.main__item_btn {
    width: 246px;
    line-height: 62px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #007BE6;
    backdrop-filter: blur(4px);
    border: none;
    cursor: pointer;
    outline: none;
}

.main__list {
    align-self: flex-end;
}

.main__list_item {
    display: inline-block;
    list-style-type: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 25px;
}

.main__list_item:first-of-type {
    font-weight: 400;
    margin-right: 29px;
}

.main__list_item:last-of-type {
    margin-right: 0;
}

/* situation */

.situation {
    padding: 104px 0 46px;
}

.situation__container {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.situation__container_item:first-of-type{
    width: 70%;
}


.situation__container_item:last-of-type{
    width: 30%;
    position: relative;
    height: 650px;
}

.situation__list {
    margin-left: 7em;
}

.situation__block {
    background: #0F4C81;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.situation__container_item:last-of-type img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 150px;
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.title {
    position: relative;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    padding-left: 88px;
    box-sizing: border-box;
    color: #0F4C81;
}

.title::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 2px;
    background-color:#0F4C81;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}  

.situation__list_item {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1E2023;
    padding-left: 14px;
    margin-bottom: 20px;
    list-style-type: none;
}

.situation__list_item::marker {
    content: url("../assets/images/Situation/Arrow\ 18.svg");
}

/* cards */

.title__container {
    max-width: 1140px;
    margin: 0 auto;
    /* padding-left: 150px; */
}

.cards__container {
    background: url("../assets/images/Cards/image\ 7.jpg") 100% 100% no-repeat;
    background-size: cover;
    padding: 32px 20px;
}

.cards__container_grid {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.grid__item {
    height: 288px;
    width: 100%;
    background: rgba(15, 76, 129, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards__text {
    max-width: 511px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

/* icons */

.icons {
    background: #F2F2F2;
    padding: 140px 20px;
}

.icons__container {
    max-width: 1140px;
    margin: 0 auto;
}

.title__mb {
    margin-bottom: 80px;
}

.icons__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons__item {
    width: 100%;
    max-width: 234px;
    text-align: center;
}

.icons__item img {
    margin-bottom: 21px;
}

.icons__text {
    max-width: 234px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #1E2023;
}

.icons__text span {
    text-decoration: underline;
    color: blue;
}

/* map */

.map {
    margin: 140px 0;
    padding: 0 20px;
}

.map .title {
    margin-bottom: 71px;
}

.map__container {
    max-width: 1140px;
    margin: 0 auto;
}

.map__container_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map__container_item {
    width: 60%;
}

.map__container_item:first-of-type {
    margin-right: 50px;
    width: 40%;
}

.map__text {
    max-width: 252px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E2023;
    display: block;
    text-decoration: none;
}

.text__mb {
    margin-bottom: 8px;
}

.map__description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__description:first-of-type {
    padding-bottom: 26px;
}

.map__description:nth-child(2) {
    border-top: 1px solid rgba(174, 174, 174, 0.5);
    border-bottom: 1px solid rgba(174, 174, 174, 0.5);
    padding: 26px 0;
}

.map__description:last-of-type {
    padding-top: 35px;
}

.map__description:first-of-type::before {
    content: url("../assets/images/Map/maps-and-flags\ 1.svg");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.map__description:nth-child(2)::before {
    content: url("../assets/images/Map/call-answer\ 1.svg");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);   
}

.map__description:last-of-type::before {
    content: url("../assets/images/Map/email\ 1.svg");
    position: absolute;
    top: 75%;
    left: 0;
    transform: translateY(-50%);
}

/* contact */

.contact {
    background: url("../assets/images/Contact/Group\ 8.jpg") 100% 100% no-repeat;
    background-size: cover;
    padding: 124px 0 130px 0px;
}
.contact_wrap {
    max-width: 1140px;
    margin: 0 auto;
}

.contact__form {
    max-width: 550px;
    background: rgba(255, 255, 255, 0.6);
    padding: 44px 40px 48px;   
}

.contact__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #0F4C81;
    margin-bottom: 30px;
}

.contact__item {
    display: flex;
    flex-direction: column;
}

.contact__item:first-of-type {
    margin-bottom: 17px;
}

.contact__item label {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1E2023;
    margin-bottom: 5px;
}

.contact__inp {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    height: 61px;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

.contact__btn {
    width: 314px;
    display: block;
    margin: 60px auto 0;
    line-height: 56px;
    background: #0F4C81;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: none;
}

/* footer */

footer {
    padding: 54px 0 14px;
} 

.footer__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #CDCDCD;
    margin-bottom: 0;
    text-align: center;
}



@media screen and (max-width: 1100px) {
    /* .situation__container { 
    } */
    /* .situation__container_item:last-of-type img {
        display: none;
    } */
    .situation__container_item:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 180px;
    }
    .situation__block {
        /* background: #0F4C81; */
        opacity: 0.15;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .situation__container_item:last-of-type img {
       display: none;
    }
    .contact_wrap {
        padding-left: 80px;
    }
    .grid__item {
        box-sizing: border-box;
        padding: 0 25px;
    }
    .title__container {
    padding-left: 40px;
    }
    h2.title {
        font-size: 36px;
    }
    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .situation__container_item:last-of-type img {
        display: none;
    }
    .situation__container_item:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 120px;
    }
    .title__container {
        padding-left: 20px;
    }
    .contact_wrap {
        padding-left: 80px;
    }
}

@media screen and (max-width: 800px) {
    .icons__item {
        margin-bottom: 20px;
    }
    .icons {
        padding: 60px 20px;
    }
    .map__container_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .map__container_item:first-of-type {
        width: 100%;
        margin-right: 0px;
    }
    iframe {
        margin-top: 60px;
    }
    .map__container_item {
        width: 100%;
    }
    .situation__container_item:first-of-type {
        padding-left: 20px;
    }
    .contact_wrap {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .list__item:nth-child(2) {
        margin: 0 30px;
    }
    .cards__container_grid {
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }
    .situation__block {
    display: none;
    }
}

@media screen and (max-width: 502px) {

    /* burger */

    .burger {
        display: inline-block;
    }
    .header__container {
        display: none;
    }

    .header__container {
        flex-direction: column;
    }



    ul.nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list__link, .header__text {
    font-size: 15px;
    }
    .main__item_title {
        font-size: 50px;
        line-height: 100%;
    }
    .main__item_text {
        font-size: 30px;
        line-height: 100%;
        margin-top: 50px;
    }
    
    li.main__list_item {
        display: block;
    }
    .situation__container_item:last-of-type {
        display: none;
    }
    .title::before {
        width: 30px;
    }
    h2.title {
    font-size: 30px;
    line-height: 100%;
    padding-left: 50px;
    }
    ul.main__list {
        align-self: flex-start;
    }
    .situation {
        padding: 55px 0 46px;
    }
    .situation__container_item:first-of-type {
        padding-left: 22px;
        width: 91%;
        padding-right: 0;
    }
    .situation__container {
        justify-content: flex-start;
    }
    ul.situation__list {
        margin-left: 5em;
    }
    li.situation__list_item {
        font-size: 17px;
    }
    .icons__cards {
        justify-content: center;
        align-items: center;
    }
    h2.title.title__mb {
        margin-bottom: 50px;
    }
    .map {
        margin: 70px 0;
    }
    .map__description:first-of-type::before {
        top: 40%;
    }
    iframe {
        height: 100%;
    }
    h2.contact__title {
        font-size: 33px;
    }
    footer {
        padding: 37px 0 15px;
    }
}

@media screen and (max-width: 412px) {
    a.list__link {
        font-size: 13px;
    }
    li.list__item {
        margin: 5px 0;
    }
    .situation {
        padding: 60px 0 46px;
    }
    .situation__container_item:first-of-type {
        padding-left: 20px;
        padding-right: 0;
        width: 81%;
    }
    .situation__container {
        justify-content: flex-start;
    }
    ul.main__list {
        align-self: flex-start;
    }
    .contact {
        padding: 124px 20px 130px 20px;
        box-sizing: border-box;
    }
    h2.contact__title {
        line-height: 100%;
        font-size: 26px;
    }
    form.contact__form {
        padding: 35px 30px 43px;
    }
}   


/* iframe {
    width: 100%;
} */